.container {
}

.imgContainer {
  width: 100%;
  height: auto;
  position: relative;
}
.img {
  object-fit: cover;
  width: 100%;
  filter: grayscale(50%);
}

.imageText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #53c28b;
}

.textContainer {
  display: flex;
  gap: 80px;
}

.items {
  width: 50%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.desc {
  text-align: justify;
}
